<!-- your html code here -->
<div class="mx-5 mt-5 mb-4">     
    <h1>Contact</h1>
    <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur numquam tempore magnam et provident fugiat, ab minus
        doloremque facilis eius ratione? Illum quisquam qui maiores totam ipsum perferendis voluptas maxime?</p>
</div>
<form class="container bg-light p-3 border border-secondary border-opacity-25 rounded mb-5" style="width: 60%;">
    <div class="mb-3 row">
        <label for="exampleInputEmail1" class="form-label col-3 text-end"><strong>Your E-mail</strong></label>
        <div class="col-9">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Your email">
        </div>    
    </div>
    <div class="mb-3 row">
        <label for="exampleFormControlTextarea1" class="form-label col-3 text-end"><strong>Your message</strong></label>
        <div class="col-9">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                placeholder="Please enter your message here..."></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary fs-4 d-flex mb-3" style="margin-left: 86%;">Submit</button>
</form>