<!-- your html code here -->
<div class="container-fluid">
    <h1>Porfolio</h1>
    <p>Donec ullancorper nulla non metus auctur frangilla. Bestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consecutor. Fusque dabisus , tellus ac cursus commodo.</p>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="https://cdn.pixabay.com/photo/2020/01/18/09/05/network-4774766__340.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(56, 120, 146)">Project Name</h5>
                    <p class=" card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum harum debitis, iusto non pariatur, culpa quae corporis eius enim eaque tempora fugiat ratione cupiditate minima sint! At illum amet corporis.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="https://cdn.pixabay.com/photo/2020/01/18/09/05/network-4774766__340.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(56, 120, 146)">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum harum debitis, iusto non pariatur, culpa quae corporis eius enim eaque tempora fugiat ratione cupiditate minima sint! At illum amet corporis.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                <img src="https://cdn.pixabay.com/photo/2020/01/18/09/05/network-4774766__340.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(56, 120, 146)">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum harum debitis, iusto non pariatur, culpa quae corporis eius enim eaque tempora fugiat ratione cupiditate minima sint! At illum amet corporis.</p>
                </div>
            </div>
        </div>
    </div>
</div>