<div id="services">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3 ">
            <img class="rounded-circle img-fluid" src="https://raw.githubusercontent.com/agusalvs/building-a-website-collaborative/first-heading/website/assets/img/2.jpg" alt="">
        </div>
        <div class="col-7">
            <h1><span style="color:rgb(0, 0, 0)">The second healing </span><span style="color:rgb(107, 107, 104)">Is pretty Cool Too</span></h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero expedita non consequatur officiis rem, ipsum commodi explicabo natus voluptates dolore odio iusto nisi labore est repudiandae voluptate quisquam pariatur accusamus.
            </p>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<div class="col-1"></div>
</div>
</div>